@import "../variables";

.pizza-block {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    align-self: center;
    width: 260px;
  }

  &__title {
    flex: 1 1 auto;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1%;
  }

  &__selector {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 6px;
    background-color: #f3f3f3;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      button {
        @include noselect;

        flex: 1;
        padding: 8px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;

        &.active {
          border-radius: 5px;
          box-shadow: 0 2px 4px rgb(0 0 0 / 4%);
          background: #fff;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  &:focus {
    outline: $orange solid 2px;
  }

  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.03);
    }
  }
}
